*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../back.jpg);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
    background-size: cover;
     }
.main{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -2;
}
.pag2{
    position: absolute;
    height: 0;
    width: 0;
    right: 0;
    top: 50%;
    background-color: brown;
    z-index: -1;
}
.btnIr{
    height: 10vh;
    width: 5vw;
    background-color: aqua;
    position: absolute;
    right: 0;
    top: 40%;
}
.btnIr:focus{
    height: 0;
    width: 0;
    left: 0;
}
.btnIr:focus + .pag2{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: absolute;
    transition: 1s;
}
.container {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
}
.sombrancelhas{
    background-color: rgb(0, 0, 0);
    height: 15px;
    width: 50px;
    border-radius: 50% 50% 0 0;
    position: relative;
    z-index: 1;
    left: 295px;
    top: 80px;
}
.sombrancelhas2{
    background-color: rgb(0, 0, 0);
    height: 15px;
    width: 50px;
    border-radius: 50% 50% 0 0;
    position: relative;
    z-index: 3;
    left: 407px;
    top: 95px;
}

.div-marx .eyes {
position: relative;
width: 50px;
height: 50px;
top: 100px;
left: 242px;
background-color: #fff;
margin: 0 5px;
border-radius: 50%;
box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2), inset 0 0 5px #f5af19,
  inset 0 0 10px #f5af19;

}

.eyes .eyeballs{
    height: 50px;
    position: absolute;
    left: -10px;
}

.marx{
    height: 400px;
    z-index: -1;
}
.div-marx{
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    left: 39vw;
}
.carl-texto{
    position: absolute;
    left: 80px;
    top: 150px;
    font-size: 60px;
    color: red;
    font-family:  'Times New Roman', sans-serif;
    font-weight: 700;
    text-shadow: 5px 5px #000000;
}

/*

Post-its

*/

.postit{
    height: 70vh;
    width: 100vw;
}
#postit1{
    transition: 0.5ms;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 17vw;
    background-color: #f5af19;
    margin-top: 30vh;
    margin-left: 3vw;
    transition: 0.5s;
    border: 3px solid;
}
#postit1 .postit-txt{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 7vh;
    border: 2px solid;
    border-left: none;
    border-right: none;
    width: 90%;
}

#postit1 h3{
    margin-top: 20vh;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    transition: 0.7ms;
}
#postit2{
    left: 20vw;
    top: -20vh;
    transition: 0.5ms;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 17vw;
    background-color: #f5af19;
    margin-top: 30vh;
    margin-left: 3vw;
    transition: 0.5s;
    border: 3px solid;
}
#postit2 .postit-txt{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 7vh;
    border: 2px solid;
    border-left: none;
    border-right: none;
    width: 90%;
}

#postit2 h3{
    margin-top: 20vh;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    transition: 0.7ms;
}


#postit3{
    z-index: 2;
    left: 54vw;
    top: -20vh;
    transition: 0.5ms;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 17vw;
    background-color: #f5af19;
    margin-top: 30vh;
    margin-left: 3vw;
    transition: 0.5s;
    border: 3px solid;
}
#postit3 .postit-txt{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 7vh;
    border: 2px solid;
    border-left: none;
    border-right: none;
    width: 90%;
}

#postit3 h3{
    margin-top: 20vh;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    transition: 0.7ms;
}


#postit4{
    z-index: 1;
    left: 75vw;
    transition: 0.5ms;
    position: relative;
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 17vw;
    background-color: #f5af19;
    margin-top: 30vh;
    margin-left: 3vw;
    transition: 0.5s;
    border: 3px solid;
}
#postit4 .postit-txt{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 7vh;
    border: 2px solid;
    border-left: none;
    border-right: none;
    width: 90%;
}

#postit4 h3{
    margin-top: 20vh;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    transition: 0.7ms;
}
/*

HOVERS

*/

#postit1:hover{
    transition: 0.5s;
    height: 300px;
    width: 400px;
}
#postit2:hover{
    transition: 0.5s;
    height: 300px;
}
#postit3:hover{
    transition: 0.5s;
    height: 300px;
}
#postit4:hover{
    transition: 0.5s;
    height: 300px;
}

/*

Página 2

*/

.pag2{
    position: absolute;
    
}
#hexagono {
    width: 100px;
    height: 55px;
    background: red;
    position: relative;
 }
 #hexagono:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid red;
 }
 #hexagono:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid red;
 }


